# Astro Runtime includes the following pre-installed providers packages: https://docs.astronomer.io/astro/runtime-image-architecture#provider-packages
selenium==4.18.1
tqdm==4.66.2
trio==0.24.0
pandas==2.2.1
beautifulsoup4==4.12.3
requests==2.31.0
